<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>858845123746-d9ds4agpkvrfa50foc1a7a7dhic82tfn.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.858845123746-d9ds4agpkvrfa50foc1a7a7dhic82tfn</string>
	<key>API_KEY</key>
	<string>AIzaSyD3W7iNEtSPu2OxHZ565QIFBPs03Fs8aLs</string>
	<key>GCM_SENDER_ID</key>
	<string>858845123746</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.shidix.sic4change.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>sx-s4c</string>
	<key>STORAGE_BUCKET</key>
	<string>sx-s4c.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:858845123746:ios:033ecef942c50e0318b3fb</string>
</dict>
</plist>